---
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"     content="width=device-width, initial-scale=1.0" />
    <meta name="description"  content="秩父の出来事を地図から探そう" />
    <title>秩父マップ - 秩父経済新聞</title>
    <script type="text/javascript">
      if (window.location.href== "https://babamap.net/chichibu") {
        window.location.href = 'https://localmap.jp/chichibu';
      }
    </script>

    <!-- OGP Settings-->
    <meta property="fb:app_id"       content="2063612603708968">
    <meta property="fb:admins"       content="100001334499453">
    <meta property="og:locale"       content="ja_JP">
    <meta property="og:type"         content="website">
    <meta property="og:site_name"    content="秩父経済新聞">
    <meta property="og:title"        content="秩父マップ - 地図で出来事を知る - 秩父経済新聞">
    <meta property="og:description"  content="秩父の出来事を地図から探そう">
    <meta property="og:url"          content="https://localmap.jp/">
    <meta property="og:image"        content="https://localmap.jp/cover.png">
    <meta property="og:image:type"   content="image/png">

    <meta name="twitter:card"        content="summary_large_image">
    <!--<meta name="twitter:site"        content="NOT_FOUND">-->
    <meta name="twitter:image"       content="https://localmap.jp/cover.png">
    <meta name="twitter:title"       content="秩父経済新聞">
    <meta name="twitter:description" content="秩父の出来事を地図から探そう">

    <!-- Icons for iOS, Android, and Windows -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/minkei.png">
    <meta name="theme-color"             content="#ffffff">
    <link href="https://localmap.jp/favicon.ico" rel="shortcut icon">
    <link href="/manifest.json" rel="manifest">
    <link href="/minkei.svg"    rel="mask-icon" color="#1373ce">
    <link href="/minkei.png"    rel="icon" type="image/png" sizes="96x96">
    <link href="/minkei.png"    rel="icon" type="image/png" sizes="192x192" >
    <link href="/minkei.png"    rel="apple-touch-icon"      sizes="180x180">
    
    <style>
      body,
      html {
        width:  100%;
        height: 100%;
        margin:    0;
        padding:   0;
      }

      .geolonia {
        width:  100%;
        height: 100%;
      }
      #custom-marker {
	width:   50px;
	height:  50px;
	cursor:  pointer;
	display: none;
      }
      #custom-marker img {
	max-width: 100%;
	height:    auto;
      }
    </style>
  </head>
  <body>
    <div
      class="geolonia"
      data-lat="35.9988245"
      data-lng="139.0794146"
      data-zoom="14"
      data-marker="off"
      data-custom-marker="#custom-marker"
      data-custom-marker-offset="0, 0"
      data-geojson="./chichibu.min.geojson"
      data-geolocate-control="on"
      data-cluster="on"
      data-cluster-color="rgba(237, 208, 70, 0.8)"
    ></div>

    <script
      type="text/javascript"
      {% if site.env.GEOLONIA_API_KEY %}
      src="https://cdn.geolonia.com/v1/embed?geolonia-api-key={{ site.env.GEOLONIA_API_KEY }}"
      {% else %}
      src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"
      {% endif %}
    ></script>

    {% if site.env.JEKYLL_ENV == 'production' %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62337761-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-62337761-11');
    </script>
    {% endif %}
  </body>
</html>
