---
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>LocalMap.jp - 地図で振り返る、地域の出来事</title>
    <script type="text/javascript">
      if (window.location.href.indexOf("babamap.net") > -1) {
          window.location.href = "https://localmap.jp";
      }
    </script>
    
    <!-- Atom feed / RSS 2.0 feed -->
    <!--
    <link href="https://localmap.jp/atom.xml" type="application/atom+xml" rel="alternate" title="Atom feed LoclaMap.jp">
    <link href="https://localmap.jp/rss.xml"  type="application/rss+xml"  rel="alternate" title="RSS 2.0 feed LocalMap.jp">
    -->

    <!-- Meta tags -->
    <meta name="author"      content="高田馬場経済新聞">
    <meta name="copyright"   content="高田馬場経済新聞">
    <meta name="description" content="みんなの経済新聞ネットワークの各地域で配信されたニュース記事の一部をプロットした地図です。">
    <meta name="thumbnail" content="https://localmap.jp/images/cover.png">
    <meta name="robots"    content="index, follow">
    <meta name="keywords"  content="みんなの経済新聞,地図,ニュース,マップ,minkei">
    <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OpenGraph -->
    <meta property="fb:app_id"      content="2063612603708968">
    <meta property="fb:admins"      content="100001334499453">
    <meta property="og:title"       content="LocalMap.jp - 地図で振り返る、地域の出来事">
    <meta property="og:description" content="みんなの経済新聞ネットワークの各地域で配信されたニュース記事の一部をプロットした地図です。">
    <meta property="og:site_name"   content="高田馬場経済新聞">
    <meta property="og:url"         content="https://localmap.jp/">
    <meta property="og:type"        content="website">
    <meta property="og:locale"      content="ja_JP">
    <meta property="og:image"       content="https://localmap.jp/images/cover.png">
    <meta property="og:image:type"  content="image/png">

    <!-- Twitter Cards -->
    <meta name="twitter:card"        content="summary_large_image">
    <meta name="twitter:site"        content="@baba_keizai">
    <meta name="twitter:image"       content="https://localmap.jp/images/cover.png">
    <meta name="twitter:title"       content="LocalMap.jp - 地図で振り返る、地域の出来事">
    <meta name="twitter:description" content="みんなの経済新聞ネットワークの各地域で配信されたニュース記事の一部をプロットした地図です。">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">

    <!-- Fontawesome-->
    <script src="https://kit.fontawesome.com/82f32b9df5.js" crossorigin="anonymous"></script>

    <!-- CSS with Bootstrap -->
    <link rel="stylesheet" href="./stylesheets/main.css">
    <link rel="stylesheet" href="./stylesheets/bootstrap.css">

    <!-- Icons for iOS, Android, and Windows -->
    <!-- cf. https://realfavicongenerator.net/ -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/minkei.png">
    <meta name="theme-color"             content="#ffffff">
    <link href="https://localmap.jp/"            rel="canonical">
    <link href="https://localmap.jp/favicon.ico" rel="shortcut icon">
    <link href="/manifest.json"     rel="manifest">
    <link href="/images/minkei.svg" rel="mask-icon" color="#3171be">
    <link href="/images/minkei.png" rel="icon" type="image/png" sizes="16x16">
    <link href="/images/minkei.png" rel="icon" type="image/png" sizes="32x32">
    <link href="/images/minkei.png" rel="icon" type="image/png" sizes="96x96">
    <link href="/images/minkei.png" rel="icon" type="image/png" sizes="192x192" >
    <link href="/images/minkei.png" rel="apple-touch-icon"      sizes="180x180">
    <link href="/favicon.ico"       rel="shortcut icon">
    <meta name="apple-mobile-web-app-title" content="LocalMap.jp">
    <meta name="application-name"           content="LocalMap.jp">
    <meta name="msapplication-TileColor"    content="#3171be">
    <meta name="theme-color"                content="#3171be">
    <!--<meta name="msapplication-config"       content="/browserconfig.xml">-->
  </head>

  <body class="d-flex flex-column h-entry" id="body">
    <div class="localmap-bg-landingpage">
      <header class="d-flex align-items-center splash-localmap-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.000), rgba(0, 0, 0, 0.000)), url(/images/catch.png)">
	<div class="container-lg">
	  <h1 class="p-name" style='margin-left: -20px;'>
	    <span class="localmap">📍LocalMap.jp</span>
	  </h1>
	  <hr class="my-3">
	  <p class="localmap-subtitle p-summary">地図で振り返る、地域の出来事</p>
	</div>
      </header>
    </div>

    <div class="localmap-bg-landingpage flex-fill">
      <main class="container-lg  pb-3 localmap-bg-landingpage">
	<div class="row pt-2">
	  <aside class="col-lg-2 mt-lg-3 small"></aside>
	  <article id="maincontent" class="col-lg-8 mt-3">
	    <div class="text-center">
	      <div class="text-center my-4 py-5 px-3">
		<p><i class="fas fa-map-pin fa-3x"></i></p>
		<h2 class="font-weight-bold py-3">LocalMap.jp とは</h2>
		<p class="lead font-weight-light py-2">
		  <a href='https://minkei.net/'>みんなの経済新聞ネットワーク</a>の各地域で配信されたニュース記事をプロットした地図です。
		</p>
		<p class="lead font-weight-light py-2" style='margin-bottom: 50px;'>
		  地図上のアイコンをクリックすると、その場所で起こった出来事の記事が読めます。
		</p>
		<video alt="Video from Gyazo" width="100%" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/7c2648f8541cfc6f0799ee0a60e09052.mp4" type="video/mp4" /></video>
		<p><small>※
		  情報は公開当時のものです。飲食店利用などの際は現在の営業日時をご確認ください。
		</small></p>
	      </div>

	      <div class="text-center my-4 py-5 px-3">
		<p><i class="fas fa-map-location-dot fa-3x"></i></p>
		<h2 class="font-weight-light py-3">対応地域</h2>
		<p class="lead font-weight-light py-2">LocalMap.jp は以下の地域に現在対応しています。</p>
		{% for map in site.data.maps %}
		  {% unless map['draft'] %}
		  <a class="btn btn-primary btn-lg my-3 text-white" role="button"
		     href="/{{ map['id'] }}">{{ map['area'] }}（{{ map['pref'] }}）</a>
		  {% endunless %}
		{% endfor %}
	      </div>

	      <div class="text-center my-4 py-5 px-3">
		<p><i class="fas fa-message-smile fa-3x"></i></p>
		<h2 class="font-weight-light py-3">利用者の声</h2>
		<p class="lead font-weight-light py-2">
		  地図掲載メディアおよび利用者から、現在以下のような用途で役立っているという声が届いております。
		  <ul class='text-left'>
		    <li>視覚で規模感が分かり、スポンサーに伝えやすい</li>
		    <li>地域の出来事について調べる場面で役に立った</li>
		    <li>近所の取り組みについて知るキッカケになった</li>
		  </ul>
		</p>
	      </div>

	      <div class="text-center my-4 py-5 px-3">
		<p><i class="fas fa-file-pen fa-3x"></i></p>
		<h2 class="font-weight-light py-3">地図作成について</h2>
		<p class="lead font-weight-light py-2">
		  <a href='https://minkei.net/list.html'>みんなの経済新聞ネットワーク</a>内のメディアであれば地図を作成できます。詳細は<a href='https://takadanobaba.keizai.biz/contact/contact.html'>高田馬場経済新聞までお問い合わせ</a>ください。
		</p>

		<a class="btn btn-primary btn-lg my-3 text-white" href="https://takadanobaba.keizai.biz/contact/contact.html" role="button">お問い合わせフォームを見る</a>
	      </div>
	      <br><br><br>
	    </div>
	  </article>
	</div>
      </main>
    </div>

    <!-- Footer -->
    <footer class="footer-localmap text-center mt-0 pt-4">
      <div class="container">
	<div class="row">
	  <div class="col-xl-10 offset-xl-1">
	    <div role="navigation" class="d-flex flex-wrap justify-content-center">
	      <a href="https://twitter.com/baba_keizai" title="Twitterアカウントを見る" class="localmap-footer-sociallink lead">
		<span class="fa-stack fa-lg" aria-hidden="true">
		  <i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
		</span>
		<span class="sr-only">Twitter</span>
              </a>
	      <a href="https://github.com/yasslab/localmap.jp" title="ソースコードを見る" class="localmap-footer-sociallink lead">
		<span class="fa-stack fa-lg" aria-hidden="true">
		  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
		</span>
		<span class="sr-only">GitHub</span>
              </a>
	      <a href="https://takadanobaba.keizai.biz/headline/1021/" title="立ち上げの経緯を見る" class="localmap-footer-sociallink lead">
		<span class="fa-stack fa-lg" aria-hidden="true">
		  <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
		</span>
		<span class="sr-only"></span>
              </a>
	    </div>
	    <p class="mt-2 mb-3" style='padding-bottom: 30px;'>
	      運営: <a href='https://takadanobaba.keizai.biz/'>高田馬場経済新聞</a><br>
	      開発協力: <a href="https://yasslab.jp/ja/">YassLab Inc.</a>
	    </p>
	  </div>
	</div>
      </div>
    </footer>

    {% if site.env.JEKYLL_ENV == 'production' %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62337761-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-62337761-11');
    </script>
    {% endif %}
  </body>
</html>
