---
---

{% assign id  = page.id | remove: '/' %}
{% assign map = site.data.maps | where: 'id', id | first %}

{% if site.env.DEBUG_MODE == 'true' %}
<b>[DEBUG INFO] (Development Mode Only)</b><br>
<b>ID:</b>  {{ id }} <small>(</small><code>{{ page.path }}</code><small>)</small><br>
<b>Map:</b> {{ map }}
{% endif %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    {% include head.html %}
    
    <style>
      body,
      html {
        width:  100%;
        height: 100%;
        margin:    0;
        padding:   0;
      }

      .geolonia {
        width:  100%;
        height: 100%;
      }
      #custom-marker {
	width:   50px;
	height:  50px;
	cursor:  pointer;
	display: none;
      }
      #custom-marker img {
	max-width: 100%;
	height:    auto;
      }
    </style>
  </head>
  <body>
    <div
      class="geolonia"
      data-lat="{{  map['lat'] }}"
      data-lng="{{  map['lng'] }}"
      data-zoom="{{ map['zoom'] }}"
      data-marker="off"
      data-custom-marker="#custom-marker"
      data-custom-marker-offset="0, 0"
      data-geojson="./public/{{ map['id'] }}.min.geojson"
      data-geolocate-control="on"
      data-cluster="on"
      data-cluster-color="rgba(237, 208, 70, 0.8)"
    ></div>

    <script
      type="text/javascript"
      {% if site.env.GEOLONIA_API_KEY %}
      src="https://cdn.geolonia.com/v1/embed?geolonia-api-key={{ site.env.GEOLONIA_API_KEY }}"
      {% else %}
      src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"
      {% endif %}
    ></script>

    {% include analytics.html %}
  </body>
</html>
